# Ignore target directory
target/

# Do not ignore the Maven wrapper JAR file
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# JaCoCo specific files to ignore
jacoco.exec
jacoco-report/
